.root {
  background-color: var(--color-gray);
}

.top {
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.button {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
}

.navigation {
  list-style: none;
}

.link {
  display: flex;
  padding: 1rem;
}

.linkActive {
  composes: link;
  color: var(--color-white);
}
